*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Garamond, sans-serif, serif;
    background-color: lightgray;
}

.header {
    padding: 30px;
    text-align: center;
    font-size: 40px;
    background-color: gray;
    color: black;
    font-family: "serif";
}

.footer {
    padding: 10px;
    text-align: center;
    background-color: dimgray;
    font-family: Garamond;
    position:absolute;
    bottom:0;
    width:100%;
    height:40px;
}
p{
    color: black;
    font-family: "sans-serif";
    font-size: 20px;
    text-align: left;
    text-decoration: blanchedalmond;
    text-decoration-style: wavy;
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}

.sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}

.sidenav a:hover {
    background-color:beige
    color:#111
}

.content {
    margin-left: 200px;
    padding-left: 100px;
    width: 80%;
}
h1{
    font-family: "Bebas Neue";
    font-size: 50px;
    text-align: center;
    color: rgb(157, 173, 167);
}
img {
    align-content: center;
}
#hp  {
    float: center;
    margin: 0 0 0 15px;
}
ol{
    color: rgb(0, 0, 0);
    font-family: "Hiragino Sans";
    font-size: 20px;
}
ul{
    color: rgb(0, 0, 0);
}
h1{
    color: black;
    font-size: 30px;
    font-family: "sans-serif";
    text-align: center;
}
h2{
    color: white;
    font-size: 60px;
    font-family: "Bebas Neue";
    text-align: center;
}
h3{
    color: darkgreen
    font-size 40px;
    font-family: "Bebas Neue";
    text-align: center;
}
 h4{
    color: black
    font-size 40px;
    font-family: "Bebas Neue";
    text-align: left;
 }